play.dtd

<!ELEMENT play (author,title,act+)>
<!ELEMENT act (title,scene+)>
<!ELEMENT scene (title,(speech | stagedir)+)>
<!ELEMENT speech (speaker, (line | stagedir)+)>
<!ELEMENT line (#PCDATA|stagedir)*>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT speaker (#PCDATA)>
<!ELEMENT stagedir (#PCDATA)>